/LabTask1/nbproject/private/
/LabTask1/build/
/LabTask3/build/
/LabTask3/nbproject/private/
/LabTask4/build/
/LabTask4/dist/
/LapTask2/build/
/PROJECT/nbproject/private/
/PROJECT/build/
/PROJECT/dist/